*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	font-family: "Microsoft YaHei",'Helvetica Neue', Helvetica, 'PingFang SC', 'Lantinghei SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	margin: 0;
}
:global {

	#App {
		height: 100%;
	}
	#container {
		display: flex;
		flex-direction: row;
		height: 100%;
	}
	.module-bg {
		background-color: #FFF;
		padding: 20px 40px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		background-color: #FFF;
	}
}
