.header-box {
    padding: 20px;
    background-color: #FFFFFF;
    height: 74px;
}
.header-left {
    float: left;
    h2 {
        float: left;
        font-size: 24px;
    }
    h3 {
        float: left;
        margin-top: 9px;
        margin-left: 20px;
    }
}
.header-right {
    float: right;
}
